*{
     margin: 0;
     padding: 0;
}

body{
    background: linear-gradient(rgb(24, 1, 1),rgb(28, 1, 46));
    height:100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    position: fixed;
    width: 95%;
    z-index: 80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header.logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 30px;

}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;

}
header ul li a:hover{
    background: #fff;
    color: rgb(59, 3, 3);
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
}

.main::after{
    content:"";
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background:linear-gradient(to top,rgb(59, 3, 3)transparent );
}
.main img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);
}

.content{
    color: #fff;
    padding: 30px;

}
.content{
    margin: 20px;
    font-size: 30px;
}
.content{
    font-size:20 px;
}